/* General */
body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #0094DA, #005A9E, #002f6c);
    background-attachment: fixed;
    font-size: 18px;
}

.container {
    text-align: center;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

/* Header */
.banner {
    background-color: #3c3c3b;
    padding: 30px;
    font-family: "Exo 2", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
    height: 50px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: translateY(-5px);
}

.bottom-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(to right, #0094DA, #adc910, #0094DA, #adc910, #0094DA, #adc910);
}

.banner h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    color: white;
}

/* Botones */
.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 40px;
}

.button {
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 10px;
    margin-bottom: 50px;
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    animation: salto 0.8s ease-in-out;
    position: relative;
    padding-left: 70px;
    border-bottom: 5px solid #adc910;
    font-family: "Exo 2", sans-serif;
}

/* Círculo azul para egresado */
.button.egresado::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0094DA; /* Azul */
}

/* Círculo amarillo para alumno actual */
.button.alumno::after {
    content: "";
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #F7E03D;
}

/* Ajustar posición para ambos círculos si ambos están presentes */
.button.egresado.alumno::after {
    left: 30px;
}

.button:hover {
    background-color: #adc910;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
}

@keyframes salto {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Añadir retraso progresivo a cada botón */
.button:nth-child(1) {
    animation-delay: 0s;
}

.button:nth-child(2) {
    animation-delay: 0.1s;
}

.button:nth-child(3) {
    animation-delay: 0.2s;
}

.button:nth-child(4) {
    animation-delay: 0.3s;
}

.button:nth-child(5) {
    animation-delay: 0.4s;
}

/* Boton de iniciar trámite */
.button-start {
    border: none;
    border-radius: 12px;
    background-color: #adc910; 
    color: #000000;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 10px;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    font-family: "Exo 2", sans-serif;
}

.button-start:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

/* Texto */
.texto-mostrado {
    display: none;
    background-color: white;
    padding: 20px;
    margin-bottom: 50px;
    font-family: "Exo-2", sans-serif;
    text-align: justify;
}

/* Fuentes */
.exo-2 {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.texto-blanco {
    color: white;
}

/* Margen del header */
header.banner {
    margin-bottom: 50px;
}

/* Links */
a {
    color: #adc910;
}

/* Caja de texto para información */
.caja {
    max-width: 1000px;
    margin: 10px auto;
    padding: 1px 20px;
    border-radius: 10px;
    background-color: #ffffff;
    border-bottom: 5px solid #adc910;
    border-top: 5px solid #adc910;
    margin-bottom: 30px;
}
.color-explanation {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
}
