body, html {
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #adc910;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: "Exo 2";
  display: flex;
  align-items: center;
}

.contenido {
  padding: 20px;
  font-family: 'Exo 2';
}

.banner-izquierda {
  width: 208px;
  height: 64px;
  background-image: url('https://i.imgur.com/mAqf5g1.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: auto;
  background-position: top;
}

.banner-derecha {
  width: 321px;
  height: 120px;
  background-image: url('https://i.imgur.com/j3GQIMf.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  background-position: top center;
}
