body {
  background-color: rgba(0, 148, 218, 0.8); /* Ajusta el color de fondo de la web */
}

.container {
  max-width: 800px; /* Limita el ancho del contenedor */
  margin: 20px auto; /* Ajusta el margen superior e inferior y centra horizontalmente */
  padding: 20px; /* Añade un poco de espacio alrededor del contenido */
  background-color: rgba(242, 242, 242, 0.8); /* Ajusta el color de fondo */
  border-radius: 10px; /* Añade bordes redondeados al contenedor */
}

.caja {
  background-color: #f2f2f2;
  border-bottom: 2px solid #adc910;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
}

.texto {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
}

.justificar {
  text-align: justify;
}

.lista {
  margin-top: 10px;
}

.lista ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lista ul li {
  margin-left: 20px;
  line-height: 1.6;
}

.parrafo {
  margin-bottom: 20px;
}
